@model Exellent_Taste.Models.Gebruikers

@{
    ViewData["Title"] = "Gebruikers Details";
}

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Voornaam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Voornaam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Achternaam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Achternaam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Wachtwoord)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Wachtwoord)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Created_Gebruiker_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Created_Gebruiker_Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Updated_Gebruiker_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Updated_Gebruiker_Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Created_Datum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Created_Datum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Updated_Datum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Updated_Datum)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Bijwerken</a> |
    <a asp-action="Index">Terug</a>
</div>
