@model Exellent_Taste.Models.Bestellingen

@{
    Layout = "";
    ViewData["Title"] = "Bon";
}

<div class="container">
    <div class="row">
        <div class="col-sm">

        </div>
        <div class="col-sm">

        </div>
        <div class="col-sm">
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Tafel)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Tafel)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Totaal)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Totaal)
                </dd>
                <dt class="col-sm-2">
                    Datum
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Created_Datum)
                </dd>
            </dl>
        </div>
    </div>
    <div class="row">
        <div class="col-6">

            <h4> voedsel </h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Naam
                        </th>
                        <th>
                            Prijs
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Bestellingen_Lijst)
                    {
                        if (item.menukaart.menusoort.MenuSoortID != 1)
                        {
                            <tr>
                                <td>
                                    @item.menukaart.Naam
                                </td>
                                <td>
                                    @item.menukaart.Prijs
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="col-6">
            <h4> Drinken </h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Naam
                        </th>
                        <th>
                            Prijs
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Bestellingen_Lijst)
                    {

                        if (item.menukaart.menusoort.MenuSoortID == 1)
                        {
                            <tr>
                                <td>
                                    @item.menukaart.Naam
                                </td>
                                <td>
                                    @item.menukaart.Prijs
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

