@model Exellent_Taste.Models.Reseveringen

@{
    ViewData["Title"] = "Resevering details";
}

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Voornaam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Voornaam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Achternaam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Achternaam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefoonnummer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefoonnummer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aantal_Personen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aantal_Personen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Datum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Datum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tijd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tijd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gekomen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gekomen)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Bijwerken</a> |
    <a asp-action="Index">Terug</a>
</div>
